* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('resources/landing_page_bg.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.log-card {
    padding: 30px 30px 40px 30px;
    background-color: white;
    border: thin solid rgb(210, 210, 210);
    border-radius: 8px;
    height: max-content;
    margin-top: 15vh;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.card-sub-head {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options > a:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

.options > a:not(hover) {
    transition: all 0.1s ease-in-out;
    transform: scale(1);
}

.options > button {
    color: white;
    background-color: rgb(82, 82, 238);
    padding: 8px 20px;
    border: thin solid rgb(82, 82, 238);
    border-radius: 5px;
    cursor: pointer;
}

.options > button:hover {
    background-color: rgb(104, 104, 241);
}

.sign-up {
    background: rgb(14, 167, 14); 
    border: thin solid rgb(16, 155, 16); 
    color: white; border-radius: 5px; 
    padding: 8px 0px; 
    cursor: pointer;
}

.sign-up:hover {
    background: rgb(66, 168, 66);
}

.logo {
    width: 50px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

form > .input-container:last-child {
    margin-bottom: 0px;
}

.input-container > input {
    width: 300px;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 8px;
}

.input-container > input + label {
    position: absolute;
    left: 8px;
    bottom: 16px;
    color: gray;
    font-size: large;
}

.input-container > input:focus + label {
    transition: all 0.3s ease;
    translate: 0px -30px;
    background-color: white;
    color: #0059ff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.input-container > input:not(:focus) + label {
    transition: all 0.3s ease;
    transition: 0px 0px;
}

.modal {
    position: fixed;
    top: -450px;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}
.close-button:hover {
    background-color: lightgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}